[Bb]in/
[Oo]bj/
artifacts/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.user
*.suo
*.rsuser
*.nupkg
*.snupkg
*.binlog
TestResults/
coverage*.json
coverage*.xml
coverage*.info
